@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url(img/dn2.webp);
  background-position: center;
  background-size: cover;
  position: relative;
}

.navbar{
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  background: #d35400 transparent;
  padding: 30px 80px;
}

.navbar-logo {
  font-size: 25px;
  font-weight: bold;
  color: #ffff00;
  text-decoration: none;
}

.navbar .navbar-menu{
  word-spacing: 35px;
}

.navbar .navbar-logo .brandtext{
  color: #fff;
  font-weight: bold;
}

.navbar .navbar-menu .menu-links{
  font-size: 13px;
  font-weight: 600;
  color: #ffff00;
  margin-left: 20px;
  margin-right: px;
  text-decoration: none;
}
.navbar .navbar-menu .menu-links#button{
  font-size: 13px;
  font-weight: 600;
  border: 1px solid #ffff00;
  border-radius: 10px;
  display: inline-block;
  padding: 10px;
  color: #ffffff;
  margin-right: 40px;
}

.navbar .navbar-menu .menu-links#button:hover{
  background-color: #ffff00;
  transition: 0.8s ease-in;
  color: black;
}

.navbar .navbar-menu .menu-links:hover{
  color: #fff;
}

.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.text-box h1{
  font-size: 62px;
}

.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}

p{
  color: #777;
  font-size: 14px;
  font-weight: 300;
  padding: 10px;
}

.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover{
  border: 1px solid #ffff00;
  background: #ffff00;
  transition: 0.8s;
  color: black;
}

/* .hero-container .container-left h1{
    font-size: 30px;
    text-decoration: underline;
    color: blue;
}

.hero-container .container-right img{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 350px;
} */

.facilities{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.facilities-col{
  flex-basis: 60%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  margin-left: 32px;
}

.facilities-col img{
  width: 60%;
  border-radius: 10px;
}

.facilities-col p{
  padding: 0;
}

.facilities-col h3{
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

.course{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.course-col{
  margin: 0 20px 0 20px;
  flex-basis: 23%;
  background: #ffff00;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}

.course-col:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.about h1{
  display: flex;
  align-items: center;
  justify-content: center;
}

.about p{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 16px;
}